@using WikiTech.Entidades


@model Articulo

@{
}
<h1>Crear un nuevo artículo</h1>

<form class="row g-3" method="post" action="/articulo/CrearArticulo">
    <div class="col-md-6">
        <label for="Titulo" class="form-label">Título</label>
        <input type="text" class="form-control" id="Titulo" name="Titulo" asp-for="Titulo" autofocus>
        <span asp-validation-for="Titulo"></span>
    </div>
    <div class="col-md-3">
        <label for="Fecha" class="form-label">Fecha</label>
        <input type="text" class="form-control" name="Fecha" value="@ViewBag.Fecha" disabled>
        @*<span asp-validation-for="Fecha"></span>*@
    </div>
    <div class="col-12">
        <p><label for="Contenido" class="form-label">Contenido del artículo</label></p>
        <textarea id="Contenido" name="Contenido" rows="6" cols="70" asp-for="Contenido"></textarea>
        <span asp-validation-for="Contenido"></span>
    </div>
    <div class="col-md-3">
        <label for="Fecha" class="form-label">Puntuación</label>
        <input type="datetime" class="form-control" id="Fecha" name="Puntaje" asp-for="Puntaje">
        <span asp-validation-for="Puntaje"></span>
    </div>
    <div class="col-5">
        <label for="ImagenPrincipal" class="form-label">URL de Imagen</label>
        <input type="text" class="form-control" id="ImagenPrincipal" name="ImagenPrincipal">
    </div>
    
    <select class="form-select w-25" aria-label="Default select example" name="IdCategoria">
        @*<span asp-validation-for="IdCategoria"></span>*@
        <option selected>Elegir categoria</option>

        @foreach (Categoria categoria in ViewBag.Categorias)
        {
            <option value="@categoria.idCategoria">@categoria.Nombre</option>
        }
    </select>
    
    <div class="col-12">
        <a class="btn btn-secondary btn-lg" style="width:180px" href="/articulo/ListarArticulos" role="button">Volver</a>
        <button type="submit" class="btn btn-primary btn-lg">Guardar artículo</button>
    </div>
</form>